html,
body {
    background-color: #1a1813;
    font-family: 'Courier New', monospace;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.tv-frame {
    background-color: #333;
    border: 20px solid #777;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.screen {
    flex: 1;
    background-color: #070707;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
}

.screen-content {
    color: #313131;
    transform-origin: top center;
    transition: transform 0.1s ease-out;
    font-size: larger;
}

.screen-content h1,
.screen-content p {
    margin-bottom: 2rem;
}

.control-panel {
    width: 120px;
    background-color: #555;
    margin-left: 15px;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
}

#button-control-panel {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .control-panel {
        display: none;
    }
    #button-control-panel {
        display: block;
    }
}

.btn-custom {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 0;
    margin: 10px 0;
}

.btn-custom:hover {
    background-color: #bbae00;
}

.power {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    background-color: #03d703;
}

.power:hover {
    background-color: #03d703;
    box-shadow: #00c308 0 -12px 6px inset;
    transform: scale(1.055);
}

.screen::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.header-resume {
    display: flex;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 100px;
}